# 1) Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 2) Importing files

In [2]:
# Path
path = r'C:\Users\GTSA - Infinity\Documents\Analytika career foundry\Task 4 PYTHON\Instacart Basket Analysis'

In [3]:
# Importing file
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Original data', 'Prepared Data', 'ords_prods_merged_4.7.pkl'))

# 3) Finding the aggregated mean of the “order_number” column grouped by “department_id” for a subset of my dataframe

In [4]:
# Checking shape of the df
ords_prods_merge.shape

(32406041, 20)

In [5]:
# Checking head of the df
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orers
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Most orers

In [6]:
# Performing a Single Aggregation with agg() function: Splitting data into groups based on department_id with agg() to find the mean of order_number column
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 4) How do the results for the entire dataframe differ from those of the subset?

# The mean for department 4 in the subset is 18.825780 vs. the entire df is 17.811403. The mean for department 20 in the subset is 17.599636 vs. the entire df is 16.473447. The mean of the entire df is lower than the mean for the subset. Results from the entire df lead to better results.

# 5) Creating a loyalty flag for existing customers using the transform() and loc() functions

In [7]:
# Creating a new column max_order with transform()
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Checking results
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,Unnamed: 0,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orers,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Most orers,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22
14,487368,15,prior,22,1,10,14.0,196,1,1,...,195,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22

In [9]:
# Derivning Columns with loc() - 3 criteria

In [10]:
# First criterion - If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
# Second criterion - If the maximum orders the user has made is over 10 but less than or equal to 40, 
# then the customer will be labeled a “Regular customer.”
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
# Third criterion - If the maximum orders the user has made is less than or equal to 10, 
# then the customer will be labeled a “New customer.”
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
# Printing the frequency of loyalty_flag column using the value_counts()
ords_prods_merge['loyalty_flag'] .value_counts(dropna = False)

Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: loyalty_flag, dtype: int64

In [14]:
# Checking the correct interpreting and the right flags are assigned
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# 5A) The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [15]:
# Performing multiple aggregations to find the mean, min and max
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386229  1.0  99999.0
New customer      13.294406  1.0  99999.0
Regular customer  12.495501  1.0  99999.0

In [16]:
# The max value is $99999 which seems to be wrong because it is unlikely that there is an item which has so high price. 
# The prices of products purchased by loyal customers differ from  regular and also new customers when looking at the mean. 
# Loyal customers are buying less expesive items than the regular customers when looking at the mean. 
# New customers are buing more expensive items than the loyal and regular customers when looking at the mean.

# 5B) The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [17]:
# Creating a new column “Mean_prices” column for the average price
ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
# Checking results
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orers,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Regularly busy,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Regularly busy,Most orers,10,New customer,6.367797
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,prior,7,1,9,20.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10,New customer,6.367797
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10,New customer,6.367797
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10,New customer,6.367797
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Regularly busy,Average orders,10,New customer,6.367797
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556
14,487368,15,prior,22,1,10,14.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556

In [19]:
# Derivning Columns with loc() - 2 criteria

In [20]:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
ords_prods_merge.loc[ords_prods_merge['mean_prices'] >= 10, 'Spender_type'] = 'High_spender'

In [21]:
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”
ords_prods_merge.loc[ords_prods_merge['mean_prices'] < 10, 'Spender_type'] = 'Low_spender'

In [22]:
# Checking the correct interpreting and the right flags are assigned
ords_prods_merge[['user_id', 'mean_prices', 'order_number']].head(60)

    user_id  mean_prices  order_number
0         1     6.367797             1
1         1     6.367797             2
2         1     6.367797             3
3         1     6.367797             4
4         1     6.367797             5
5         1     6.367797             6
6         1     6.367797             7
7         1     6.367797             8
8         1     6.367797             9
9         1     6.367797            10
10       15     3.980556            15
11       15     3.980556            17
12       15     3.980556            18
13       15     3.980556            21
14       15     3.980556            22
15       19     8.372059             2
16       19     8.372059             5
17       19     8.372059             7
18       21     7.012683            10
19       31     8.137793            10
20       31     8.137793            17
21       43     7.444898             6
22       43     7.444898             9
23       52     6.356287             1
24       52     6.356287             2
25       52     6.356287             3
26       52     6.356287             5
27       52     6.356287             7
28       52     6.356287             9
29       52     6.356287            10
30       52     6.356287            11
31       52     6.356287            12
32       52     6.356287            15
33       52     6.356287            17
34       52     6.356287            18
35       52     6.356287            19
36       52     6.356287            21
37       67     7.656790             1
38       67     7.656790             2
39       67     7.656790             3
40       67     7.656790             4
41       67     7.656790             5
42       67     7.656790             6
43       67     7.656790             8
44       67     7.656790             9
45       67     7.656790            10
46       67     7.656790            11
47       67     7.656790            12
48       67     7.656790            13
49       67     7.656790            14
50       67     7.656790            16
51       67     7.656790            18
52       67     7.656790            19
53       67     7.656790            21
54       67     7.656790            22
55       67     7.656790            23
56       81     8.165385             3
57       81     8.165385             5
58       82     6.441221             1
59       82     6.441221             3

# 6) In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [23]:
# Creating the “median_days_since_prior_order” column
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [24]:
# Checking results
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices,Spender_type,median_days_since_prior_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low_spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Most orers,10,New customer,6.367797,Low_spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,Mid-range product,Least busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,Mid-range product,Least busy,Regularly busy,Most orers,10,New customer,6.367797,Low_spender,20.5
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
6,550135,1,prior,7,1,9,20.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10,New customer,6.367797,Low_spender,20.5
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10,New customer,6.367797,Low_spender,20.5
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,10,New customer,6.367797,Low_spender,20.5
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,9.0,Mid-range product,Least busy,Regularly busy,Average orders,10,New customer,6.367797,Low_spender,20.5
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556,Low_spender,10.0
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556,Low_spender,10.0
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556,Low_spender,10.0
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556,Low_spender,10.0
14,487368,15,prior,22,1,10,14.0,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orers,22,Regular customer,3.980556,Low_spender,10.0

In [25]:
# Derivning Columns with loc() - 3 criteria

In [26]:
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'Customer_frequency'] = 'Non_frequent_customer'

In [27]:
# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10)& (ords_prods_merge['median_days_since_prior_order'] <= 20), 'Customer_frequency'] = 'Regular_customer'

In [28]:
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'Customer_frequency'] = 'Frequent_customer'

In [29]:
# Checking the correct interpreting and the right flags are assigned
ords_prods_merge[['user_id', 'median_days_since_prior_order', 'Customer_frequency']].head(60)

    user_id  median_days_since_prior_order     Customer_frequency
0         1                           20.5  Non_frequent_customer
1         1                           20.5  Non_frequent_customer
2         1                           20.5  Non_frequent_customer
3         1                           20.5  Non_frequent_customer
4         1                           20.5  Non_frequent_customer
5         1                           20.5  Non_frequent_customer
6         1                           20.5  Non_frequent_customer
7         1                           20.5  Non_frequent_customer
8         1                           20.5  Non_frequent_customer
9         1                           20.5  Non_frequent_customer
10       15                           10.0      Frequent_customer
11       15                           10.0      Frequent_customer
12       15                           10.0      Frequent_customer
13       15                           10.0      Frequent_customer
14       15                           10.0      Frequent_customer
15       19                            6.0      Frequent_customer
16       19                            6.0      Frequent_customer
17       19                            6.0      Frequent_customer
18       21                            7.5      Frequent_customer
19       31                            6.0      Frequent_customer
20       31                            6.0      Frequent_customer
21       43                           10.0      Frequent_customer
22       43                           10.0      Frequent_customer
23       52                            8.0      Frequent_customer
24       52                            8.0      Frequent_customer
25       52                            8.0      Frequent_customer
26       52                            8.0      Frequent_customer
27       52                            8.0      Frequent_customer
28       52                            8.0      Frequent_customer
29       52                            8.0      Frequent_customer
30       52                            8.0      Frequent_customer
31       52                            8.0      Frequent_customer
32       52                            8.0      Frequent_customer
33       52                            8.0      Frequent_customer
34       52                            8.0      Frequent_customer
35       52                            8.0      Frequent_customer
36       52                            8.0      Frequent_customer
37       67                            7.0      Frequent_customer
38       67                            7.0      Frequent_customer
39       67                            7.0      Frequent_customer
40       67                            7.0      Frequent_customer
41       67                            7.0      Frequent_customer
42       67                            7.0      Frequent_customer
43       67                            7.0      Frequent_customer
44       67                            7.0      Frequent_customer
45       67                            7.0      Frequent_customer
46       67                            7.0      Frequent_customer
47       67                            7.0      Frequent_customer
48       67                            7.0      Frequent_customer
49       67                            7.0      Frequent_customer
50       67                            7.0      Frequent_customer
51       67                            7.0      Frequent_customer
52       67                            7.0      Frequent_customer
53       67                            7.0      Frequent_customer
54       67                            7.0      Frequent_customer
55       67                            7.0      Frequent_customer
56       81                           30.0  Non_frequent_customer
57       81                           30.0  Non_frequent_customer
58       82                           11.5       Regular_customer
59       82                           11.5       Regular_customer

# 7) Exporting df as a pickle file

In [30]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Original data', 'Prepared Data', 'ords_prods_merge_4.8.pkl'))